* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #e4e1e1;
}

body {
    background: #1f1f1f;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

header {
    position: absolute;
    display: grid;
    width: 100%;
    padding: 1rem;

    place-items: center;

    grid-template-columns: repeat(2, 1fr);
}

main {
    --box-size: 0;
    position: relative;
    top: 50%;
    left: 50%;
    width: 1350px;
    height: 625px;

    transform: translate(-50%, -50%);
}

.player,
.chaser {
    position: absolute;
    width: var(--box-size);
    height: var(--box-size);
    
    transition: transform 0.1s linear;
}

.player {
    --player-top: 0;
    --player-left: 0;

    transform: translate(var(--player-left), var(--player-top));

    z-index: 1;
}

.chaser {
    --chaser-top: 0;
    --chaser-left: 0;

    transform: translate(var(--chaser-left), var(--chaser-top));
}